.c-category-checkbox {
    border: 1px solid $text-color2;
    padding: 25px;
    max-width: 800px;
    margin: auto;

    &__details {
        &__summary {
            list-style: none;
            cursor: pointer;
            position: relative;
            font-size: 16px;

            &::-webkit-details-marker {
                display: none;
            }

            &::before {
                content: "";
                position: absolute;
                top: 10px;
                right: 0;
                width: 30px;
                height: 1px;
                background: $color-text;
                transform: rotate(90deg);
                transition: transform 0.3s ease;

                @include mq_sp {
                    width: 2rem;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 10px;
                right: 0;
                width: 30px;
                height: 1px;
                background: $color-text;

                @include mq_sp {
                    width: 2rem;
                }
            }
        }

        &[open]>&__summary::before {
            transform: rotate(180deg);
        }
    }

    &__form {
        margin-top: 30px;

        &__categories {
            display: flex;
            flex-wrap: wrap;
            gap: 15px 30px;
        }
    }

    &__label {
        font-size: 16px;
        cursor: pointer;

        &__input {
            position: absolute;
            opacity: 0;
        }

        &__text {
            position: relative;
            display: inline-flex;
            align-items: center;
            gap: 10px;

            &::before {
                content: "";
                display: inline-block;
                width: 25px;
                height: 25px;
                border: 1px solid $text-color1;
            }

            &::after {
                content: "";
                position: absolute;
                top: 8px;
                left: 6px;
                width: 13px;
                height: 5px;
                border-left: 3px solid $text-color1;
                border-bottom: 3px solid $text-color1;
                opacity: 0;
                transform: rotate(-45deg);
            }
        }

        &:has(> .c-category-checkbox__label__input:checked) .c-category-checkbox__label__text::after {
            opacity: 1;
        }
    }

    &__btn-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__btn {
        color: $color-text;
        border: 1px solid $text-color1;
        background: transparent;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
    }
}