.contact-banner {
    display: block;
    text-align: center;
    background: $text-color2;
    color: $background-color1;
    text-decoration: none;
    padding: 15rem 0;
    font-weight: 600;
    font-size: 10rem;
    position: relative;
    transition: 6s width;

    @include mq_sp {
        font-size: 5rem;
        padding: 10rem 0;
    }

    &__text {
        position: relative;
        font: inherit;

        @include mq_pc {
            & {
                filter: drop-shadow(1px 2px 2px #222);
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(242, 241, 239);
        background-image: linear-gradient(90deg,
                #f2f1fe 0%,
                #212121 100%);
        transition: 0.6s width;
    }

    @include mq_pc {
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}