.heading {
    font-size: 60px;
    font-family: $font-poppins;
    text-align: center;

    @include mq_sp {
        font-size: 3rem;
    }

    @include mq_pc {
        position: relative;
        height: 100vh;

        &__h2 {
            position: sticky;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}