.hero {
    margin-top: 15rem;

    @include mq_sp {
        margin-top: 10rem;
    }

    &__heading {
        font-size: 10rem;
        line-height: 12rem;

        @include mq_sp {
            font-size: 4rem;
            line-height: 5rem;
        }
    }

    &__topic-path {
        padding-left: 0.5rem;
        margin: 2rem 0;
        display: flex;

        @include mq_sp {
            padding: 1rem 0.5rem;
        }


        &__li {
            display: inline-block;
            position: relative;
            font-size: 2rem;

            @include mq_sp {
                font-size: 1.6rem;
                margin-right: 0.5rem;
            }

            &::after {
                content: ">";
                font-size: 1.5rem;
                margin: auto 1rem;
                vertical-align: middle;

                @include mq_sp {
                    margin: auto 0.2rem;
                    font-size: 1rem;
                }
            }

            &:last-child::after {
                content: none;
            }

            & span {
                font-weight: bold;
            }

            &__title {
                margin-top: 0.2rem;
                display: inline-block;
            }
        }
    }

    &__post-date {
        font-size: 1.8rem;
    }
}