.mwform-checkbox-field {
    &-checkbox {
        opacity: 0;
        position: absolute;
    }

    &-text {
        position: relative;
        color: #fff;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            border: 2px solid #000;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;

            @include mq_sp {
                width: 2rem;
                height: 2rem;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 16px;
            transform: rotate(45deg);
            border-bottom: 0.2rem solid #000;
            border-right: 0.2rem solid #000;
            left: 10px;
            opacity: 0;

            @include mq_sp {
                width: .4rem;
                height: 1.1rem;
                left: .9rem;
            }
        }
    }

    &-checkbox:checked~&-text::after {
        opacity: 1;
    }
}