.c-pagination {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 80px 0;

    .wp-pagenavi {
        display: flex;
        gap: 20px;
    }
}