.pagination {
    font-size: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;

    &__anchor {
        border: 1px solid #333;
        padding: 0.5rem 1rem;
        text-decoration: none;

        &.current {
            background-color: #333;
            color: #fff;
        }
    }
}