.post-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 15rem;
    justify-content: space-between;
    row-gap: 5rem;

    &__item {
        display: block;
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:nth-child(n + 4) {
            margin-top: 50px;
        }

        &:nth-child(n + 3) {
            @include mq_sp {
                margin-top: 3rem;
            }
        }
    }

    &__li {
        width: 48%;

        @include mq_sp {
            width: 100%;
        }
    }

    &__thumb {
        margin-bottom: 1rem;

        &__image {
            width: 100%;
            height: 371px;
            object-fit: cover;

            @include mq_sp {
                height: 25rem;
            }
        }
    }

    &__item:hover &__thumb {
        opacity: 0.7;
    }

    &__text {
        font-size: 1.8rem;

        &__category {
            background: #eee;
            padding: 0.2em 0.5em;
            margin-left: 0.5em;
        }

        &__title {
            margin-top: 0.5rem;
            font-size: 2.4rem;
        }
    }
}