.post-category {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 8rem 0;
    flex-wrap: wrap;
    font-size: 2rem;

    @include mq_sp {
        align-items: center;
        justify-content: start;
        padding: 3rem 0;
    }

    &__anchor {
        display: inline-flex;
        color: #000;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 40px;
        background: #fff;
        border: 1px solid #000;

        &.is-active {
            border: 1px solid #000;
            background: #000;
            color: #fff;
        }
    }
}