.post-category {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 8rem;
    flex-wrap: wrap;
    font-size: 20px;

    @include mq_sp {
        display: block;
        padding-bottom: 3rem;
    }

    &__li {
        list-style-type: none;

        @include mq_sp {
            & + & {
                margin-top: 1.2rem;
            }
        }
    }

    &__anchor {
        display: inline-flex;
        color: #000;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 40px;
        background: #fff;
        border: 1px solid #000;

        @include mq_sp {
            display: block;
            text-align: center;
        }

        &.is-active {
            border: 1px solid #000;
            background: #000;
            color: #fff;
        }
    }
}