.c-post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 7rem;

    @include mq_sp {
        padding: 5rem 0 10rem;
    }

    &__item {
        display: block;
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:nth-child(n + 4) {
            margin-top: 50px;
        }

        &:nth-child(n + 3) {
            @include mq_sp {
                margin-top: 3rem;
            }
        }
    }

    &__li {
        list-style-type: none;
        width: 500px;

        @include mq_sp {
            width: 100%;
        }
    }

    &__thumb {
        margin-bottom: 2rem;

        &__image {
            width: 100%;
            height: 300px;
            object-fit: contain;

            @include mq_sp {
                height: 25rem;
            }
        }
    }

    &__item:hover {
        text-decoration: none;
        opacity: 0.7;
    }

    &__text {
        font-size: 16px;

        &__category {
            background: #eee;
            padding: 0.2em 0.5em;
            margin-left: 0.5em;
        }

        &__title {
            margin-top: 25px;
            font-size: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}