.wysiwyg {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 2.5rem 0;
    }

    h2 {
        font-size: 7rem;
        background: #222;
        color: #fff;
        padding: 0 3rem;

        @include mq_sp {
            font-size: 3.5rem;
        }
    }

    h3 {
        font-size: 5rem;
        padding: 0 3rem;

        @include mq_sp {
            font-size: 2.8rem;
        }
    }
    
    h4 {
        font-size: 3.5rem;
        padding: 0 3rem;

        @include mq_sp {
            font-size: 2.3rem;
        }
    }

    h5, h6 {
        font-size: 2.5rem;
        padding: 0 3rem;

        @include mq_sp {
            font-size: 1.8rem;
        }
    }

    img {
        max-width: 100%;
        margin: 2rem 0;
    }


    p {
        font-size: 2rem;
        margin: 3rem 0;
    }

    ul, ol {
        padding-left: 2.2rem;

        li {
            font-size: 2rem;
        }
    }

    ul {
        li {
            font-size: 2rem;
        }
    }

    ol {
        padding-left: 2.5rem;
    }
}