.c-wysiwyg {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 25px 0;
    }

    h2 {
        font-size: 70px;
        padding: 10px 20px;
        background: #222;
        color: #fff;

        @include mq_sp {
            font-size: 3.5rem;
        }
    }

    h3 {
        font-size: 50px;
        padding: 10px 20px;


        @include mq_sp {
            font-size: 2.8rem;
        }
    }

    h4 {
        font-size: 40px;
        padding: 10px 20px;

        @include mq_sp {
            font-size: 2.3rem;
        }
    }

    h5,
    h6 {
        font-size: 25px;
        padding: 10px 20px;

        @include mq_sp {
            font-size: 1.8rem;
        }
    }

    img {
        max-width: 100%;
        width: 100%;
        margin: 2rem 0;
    }


    p {
        font-size: 18px;
        margin: 20px 0;
        line-height: 30px;
    }

    ul,
    ol {
        padding-left: 20px;
        margin: 22px 0;

        li {
            font-size: 22px;
        }
    }

    ul {
        li {
            font-size: 22px;
        }
    }

    ol {
        padding-left: 20px;
    }

    .wp-block-table {
        width: 100% !important;
        margin: 40px 0 !important;    
    }
}