// Font
$font-default : "Inter", sans-serif;

// Text Color
$color-text : #333;

// Button Color
$primary-btn : #0d6efd;
$secondary-btn : #6c757d;

// For pc
$pc-layout-width: 1000;
$pc-window-gap: 4rem;
$pc-min-width: calc(#{$pc-layout-width}px + #{$pc-window-gap * 2});
$pc-grid-gap: 2rem;
$pc-grid-steps: 12;

//For sp
$sp-width: 375;
$sp-width-breakpoint: $sp-width * 2;
$sp-window-gap: 1.5rem;
$sp-grid-gap: 0.5rem;
$sp-grid-steps: 12;

//Colors 
$background-color1: #fff;
$background-color2: #F2F1EF;
$text-color1:#222222;
$text-color1-20-opacity: #22222233;
$text-color1-40-opacity: #22222266;
$text-color2 : #222222;
$text-color2-20-opacity: #22222233;
$text-color2-40-opacity:  #22222266;
$background-color:#D8D6D2;