.container {
    margin: 0 auto;
    max-width: calc(#{$pc-layout-width}px + #{$pc-window-gap * 2});
    padding: 0 $pc-window-gap;

    @include mq_sp {
        margin: 0 auto;
        max-width: auto;
        padding: 0 $sp-window-gap;
    }
}