.container {
    margin: 0 auto;
    max-width: calc(#{$pc-width}px + #{$pc-gap * 2});
    padding: 0 $pc-gap;

    @include mq_sp {
        margin: 0 auto;
        max-width: auto;
        padding: 0 $sp-gap;
    }
}