.c-container {
    margin: 0 auto;
    max-width: calc(#{$pc-layout-width}px + #{$pc-window-gap * 2});
    padding: 0 $pc-window-gap;

    @include mq_sp {
        margin: 0 auto;
        max-width: auto;
        padding: 0 $sp-window-gap;
    }

    &-sp-only {
        max-width: 100%;
        padding: 0;

        @include mq_sp {
            padding: 0 $sp-window-gap;
        }
    }
}