.u-display {
    &-pc-only {
        @include mq_sp {
            display: none !important;
        }
    }

    &-sp-only {
        @include mq_pc {
            display: none !important;
        }
    }
}