.p-works-detail {
    &__title {
        font-size: 40px;

        @include mq_sp {
            font-size: 2rem;
        }
    }

    &__category {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-start;
        margin-top: 30px;

        &__item {
            background: $color-text;
            color: #fff;
            padding: 0.2em 0.5em;
            font-size: 16px;
            display: inline-block;
        }
    }

    &__additional-input {
        margin-top: 30px;

        &__title {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    &__thumb {
        &__image {
            width: 100%;
            height: 600px;
            object-fit: contain;

            @include mq_sp {
                height: 30rem;
            }
        }
    }

    &__back {
        text-align: center;
        margin-top: 50px;
    }
}