.p-works-detail {
    &__title {
        font-size: 40px;

        @include mq_sp {
            font-size: 2rem;
        }
    }

    &__category {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-start;
        margin-top: 30px;

        &__item {
            background: $color-text;
            color: #fff;
            padding: 0.2em 0.5em;
            font-size: 16px;
            display: inline-block;
        }
    }

    &__gallery {
        margin-bottom: 80px;

        &__list {
            &__item {
                &__img {
                    width: 100%;
                }
            }
        }

        &__arrow {
            background-color: $text-color1 !important;
            width: 60px !important;
            height: 60px !important;
            border-radius: 50%;
            appearance: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            @include mq_sp {
                width: 3rem !important;
                height: 3rem !important;
            }

            &:disabled {
                opacity: 0.8;
                cursor: not-allowed;
            }

            svg {
                fill: #fff !important;
                width: 20px !important;
                height: 20px !important;

                @include mq_sp {
                    width: 1.2rem !important;
                    height: 1.2rem !important;
                }
            }

            &--prev {
                left: -32px !important;

                @include mq_sp {
                    left: -1.2rem !important;
                }
            }

            &--next {
                right: -32px !important;

                @include mq_sp {
                    right: -1.2rem !important;
                }
            }
        }
    }

    &__additional-input {
        margin-top: 30px;

        &__title {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }

    &__thumb {
        &__image {
            width: 100%;
            height: 600px;
            object-fit: cover;

            @include mq_sp {
                height: 30rem;
            }
        }
    }

    &__back {
        text-align: center;
        margin: 50px 0;
    }
}