.p-works {
    &__inner {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: baseline;
        gap: 75px;
    }

    &__post-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 20px;
        margin-top: 50px;

        @include mq_sp {
            grid-template-columns: 1fr;
            margin-top: 0;
        }

        &__li {
            width: 100%;
        }

        &__category {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: flex-start;

            &__item {
                background: $color-text;
                color: #fff;
                padding: 0.2em 0.5em;
                font-size: 14px;
                display: inline-block;
            }
        }
    }
}