.footer {
    background: #000;

    &__copyright {
        &__p {
            font-size: 16px;
            text-align: center;
            color: #fff;
            padding: 2rem 0;

            @include mq_sp {
                font-size: 1rem;
            }
        }
    }
}