.l-footer {
    background: $background-color1;

    &__copyright {
        &__p {
            font-size: 16px;
            text-align: center;
            color: $text-color2;
            padding: 2rem 0;
            font-weight: 500;

            @include mq_sp {
                font-size: 1.2rem;
            }
        }
    }
}