.nav {
    &__ul {
        display: inline-flex;

        @include mq_sp {
            position: fixed;
            margin: 0 auto;
            inset: 0;
            flex-direction: column;
            justify-content: center;
            background: $background-color1;
            align-items: center;
            gap: 3rem;
            overflow: hidden;
            transition: 0.2s;
            opacity: 0;
            z-index: -1;
            display: none;

            .is-view & {
                opacity: 1;
                z-index: 9;
                display: inline-flex;
            }
        }

        &__li {
            padding: 0 2rem;
            list-style-type: none;

            &__a {
                font-size: 20px;
                text-decoration: none;
                font-weight: 500;
                color: inherit;
                transform: translateY(-50%);

                @include mq_sp {
                    color: #000;
                }

                &:hover {
                    opacity: 0.7;
                }

                &.is-contact {
                    background: $background-color1;
                    color: $text-color2;
                    padding: 10px 35px;
                    border-radius: 100px;
                    margin-left: -15px;
                    position: relative;

                    &.is-scrolled {
                        background-color: $text-color1;
                        color: $background-color1;
                    }

                    @include mq_sp {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    &__menu {
        @include mq_sp {
            position: absolute;
            top: 2rem;
            right: 2rem;
            z-index: 9999;
        }

        &__button {
            background: none;
            border: none;
            width: 2rem;

            &__line {
                width: 100%;
                display: block;
                background: $background-color1;
                height: 0.2rem;
                position: absolute;
                transition: 0.2s;

                &:nth-child(1) {
                    top: 0.1rem;
                }

                &:nth-child(2) {
                    top: 47%;
                }

                &:nth-child(3) {
                    bottom: 0;
                }

                .is-scrolled & {
                    background-color: $text-color2;
                }
            }

            .is-view & {
                &__line {
                    background-color: #000;

                    &:nth-child(1) {
                        top: 40%;
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        top: 40%;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}