.nav {
    &__ul {
        display: inline-flex;

        @include mq_sp {
            position: fixed;
            margin: 0 auto;
            inset: 0;
            flex-direction: column;
            justify-content: center;
            background: $background-color1;
            align-items: center;
            gap: 3rem;
            overflow: hidden;
            transition: 0.2s;
            opacity: 0;
            z-index: -1;

            .is-view & {
                opacity: 1;
                z-index: 9;
            }
        }
  
        &__li {
            padding: 0 2rem;

            &__a {
                font-size: 1.7rem;
                text-decoration: none;
                font-weight: 500;
                color: #fff;
                transform: translateY(-50%);
                
                &:hover {
                    opacity: 0.7;
                }

                &.is-contact {
                    background: $background-color1;
                    color: $text-color2;
                    padding: 1rem 3rem;
                    border-radius: 100px;
                    border: 1px solid $text-color1;
                    margin-left: -15px;
                    position: relative;

                    @include mq_sp {
                        margin-left: 0;
                    }
                    
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: $text-color2;
                        border-radius: 100px;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        z-index: -1;
                        transition-duration: 0.2s;
                    }

                    &:hover {
                        opacity: 1;

                        &::after {
                            transform : translateY(5px) translateX(5px);
                        }
                    }
                }
            }
        }
    }
    
    &__menu {
        @include mq_sp {
            position: absolute;
            top: 0.8rem;
            right: 2rem;
            z-index: 9999;
        }
        
        &__button{
            background: none;
            border: none;
            width: 2rem;
            height: 2rem;

            &__line {
                width: 100%;
                display: block;
                background: #000;
                height: 0.2rem;
                position: absolute;
                transition: 0.2s;

                &:nth-child(1) {
                    top: 0.9rem;
                }

                &:nth-child(2) {
                    top: 1.5rem;
                }

                &:nth-child(3) {
                    top: 2.2rem;
                }
            }

            .is-view & {
                &__line {
                    &:nth-child(1) {
                        top: 70%;
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                       display: none;
                    }

                    &:nth-child(3) {
                        top: 70%;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
