// declared variable
@use 'foundation/value' as *;

// Foundation
@import 'foundation/media_query';
@import 'foundation/reset';
@import 'foundation/value';

// Layout
@import 'layout/header';
@import 'layout/nav';
@import 'layout/main';
@import 'layout/footer';

// Object
// - Component
@import 'object/component/button';
@import 'object/component/contact-banner';
@import 'object/component/category-checkbox';
@import 'object/component/figure';
@import 'object/component/post-category';
@import 'object/component/hero';
@import 'object/component/post-list';
@import 'object/component/heading';
@import 'object/component/mwform';
@import 'object/component/pagination';
@import 'object/component/wysiwyg';


// - Page
@import 'object/page/index';
@import 'object/page/service/index';
@import 'object/page/contact/index';
@import 'object/page/blog/index';
@import 'object/page/blog/detail';
@import 'object/page/works/index';
@import 'object/page/works/detail';
@import 'object/page/not-found/index';

// - Utility
@import 'object/utility/container';
@import 'object/utility/display';



