.p-service {
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 55px;
        margin-top: 15rem;

        @include mq_between {
            margin-top: 10rem;
        }

        @include mq_sp {
            display: block;
            margin-top: 10rem;
        }

        &__photos {
            width: 50%;
            position: sticky;
            top: 20px;
            left: 0;
            height: 100vh;
            flex-shrink: 0;

            &__figure {
                position: absolute;
                height: 100%;
                width: 100%;

                &__target {
                    opacity: 0;
                    transform: translateY(50px);
                    transition:
                        opacity 1s,
                        transform 1s;
                    will-change: opacity, transform;

                    &.visible-item {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    @include mq_below_pc {
                        height: 30rem;
                        margin-bottom: 2rem;
                    }

                    @include mq_sp {
                        height: 22rem;
                    }
                }
            }
        }

        &__details {
            &__item {
                padding: 18rem 8rem 35rem 0;
                margin-top: 25rem;

                @include mq_below_pc {
                    padding: 0 0 5rem;
                    margin-top: 6rem;
                    text-align: center;
                }

                &__title {
                    font-size: 50px;

                    @include mq_below_pc {
                        font-size: 2.5rem;
                        text-align: left;
                    }
                }

                &__p {
                    font-size: 22px;
                    padding: 2rem 0 4rem;
                    text-align: justify;

                    @include mq_below_pc {
                        text-align: left;
                        padding: 2rem 0 5rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    &__content {
        margin: 10rem 0;

        &__heading {
            font-size: clamp(3rem, 6vw, 50px);
            margin-bottom: 3rem;
        }

        &__context {
            font-size: clamp(1.6rem, 4vw, 20px);

            &__img {
                float: right;
                margin-left: 2rem;
                max-width: 500px;

                @include mq_sp {
                    float: none;
                    max-width: 100%;
                    margin: 0 0 1rem;
                    display: block;
                }
            }
        }

        &__figure {
            &__img {
                width: 100%;
            }
        }

        &__back {
            text-align: center;
            margin-top: 50px;
        }
    }
}
