.p-contact {
    margin-top: 10rem;

    @include mq_sp {
        margin-top: 3rem;
    }

    &__inner {
        padding: 8rem 7rem;
        border-radius: 5rem;
        margin-bottom: 10rem;
    }

    &__table {
        width: 100%;

        &__tbody {
            &__tr {
                display: block;
                margin-bottom: 2.5rem;
            
                &__th {
                    font-size: 2.4rem;
                }

                &__td {
                    display: block;

                    &__input {
                        width: 100%;
                        font-size: 2rem;
                        padding: 1rem 0.5rem;
                    }

                    &__textarea {
                        width: 100%;
                        padding: 1.5rem;
                    }
                }
            }
        }
    }

    &__send {
        text-align: center;
    }
}