.p-contact {

    @include mq_sp {
        margin-top: 3rem;
    }

    &__inner {
        padding: 0 7rem;
        border-radius: 5rem;
        margin-bottom: 10rem;

        @include mq_sp {
            padding: 0;
        }
    }

    &__step {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
        gap: 80px;

        &__list {
            list-style-type: none;
            border: 2px solid #000;
            color: #000;
            width: 150px;
            height: 150px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: relative;

            &.active {
                font-weight: bold;
                background-color: #000;
                color: #fff;
            }

            &:nth-child(1),
            &:nth-child(2) {
                &::after {
                    content: "";
                    position: absolute;
                    width: 80px;
                    border: 1px solid #000;
                    right: -83px;
                }
            }
        }
    }

    &__team {
        font-size: 50px;
        text-align: center;
        font-weight: 600;
    }

    &__message {
        font-size: 20px;
        margin: 15px 0;
        text-align: center;
    }

    &__table {
        width: 100%;
        margin-top: 80px;

        &__tbody {
            &__tr {
                display: block;
                margin-bottom: 3.5rem;
                font-family: $font-poppins;

                &__th {
                    font-size: 24px;
                    font-weight: 500;

                    .required {
                        background: #000;
                        color: #fff;
                        font-size: 12px;
                        padding: 3px 8px;
                        border-radius: 5px;
                        vertical-align: middle;
                        margin-left: 10px;

                    }

                    @include mq_sp {
                        font-size: 2rem;
                    }
                }

                &__td {
                    display: block;
                    padding-top: 6px;

                    &__input {
                        width: 100%;
                        font-size: 22px;
                        padding: 12px;
                        border: 1px solid #000;
                        font-family: inherit;

                        &:focus {
                            outline: none;
                        }
                    }

                    &__textarea {
                        width: 100%;
                        padding: 12px;
                        min-height: 150px;
                        font-size: 22px;
                        font-family: inherit;
                        border: 1px solid #000;

                        &:focus {
                            outline: none;
                        }
                    }

                    &.privacy {
                        height: 250px;
                        overflow-y: scroll;
                        border: 1px solid #000;
                        padding: 30px 25px;
                        scrollbar-color: black white;
                    }
                }
            }
        }
    }

    &__privacy-check {
        text-align: center;
        font-size: 20px;
        position: relative;
        width: 370px;
        margin: 0 auto 4rem;
    }

    &__send {
        text-align: center;
        
        &.is-confirm {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }
}