.p-contact {
    @include mq_sp {
        margin-top: 3rem;
    }

    &__inner {
        border-radius: 5rem;
        margin-bottom: 10rem;

        @include mq_pc {
            padding: 0 7rem;
        }

        @include mq_sp {
            padding: 0;
        }
    }

    &__step {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        max-width: 700px;
        margin: 100px auto;

        .is-confirm & {
            margin-bottom: 0;
        }

        @include mq_sp {
            margin: 5rem auto;
            width: 100%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            border: 1px solid #000;
            z-index: -1;

            @include mq_sp {
                width: 99%;
            }
        }

        &__list {
            list-style-type: none;
            border: 2px solid #000;
            color: #000;
            background-color: #fff;
            width: 150px;
            height: 150px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            position: relative;
            z-index: 2;

            @include mq_sp {
                width: 8rem;
                height: 8rem;
                flex-shrink: 0;
                font-size: 1.4rem;
            }

            &.active {
                font-weight: bold;
                background-color: #000;
                color: #fff;
            }
        }
    }

    &__team {
        font-size: clamp(4rem, 8vw, 50px);
        text-align: center;
        font-weight: 600;
    }

    &__message {
        font-size: clamp(1.4rem, 4vw, 20px);
        margin: 15px 0;
        text-align: center;
    }

    &__table {
        width: 100%;
        margin-top: 80px;

        @include mq_sp {
            margin-top: 4rem;
        }

        &__tbody {
            &__tr {
                display: block;
                margin-bottom: 3.5rem;
                font-family: $font-poppins;

                &:last-of-type {
                    margin-bottom: 0;
                }

                &__th {
                    font-size: 22px;
                    font-weight: 500;

                    .required {
                        background: #c04545;
                        color: #fff;
                        font-size: 12px;
                        padding: 3px 8px;
                        border-radius: 5px;
                        vertical-align: middle;
                        margin-left: 10px;

                        .is-confirm & {
                            display: none;
                        }
                    }

                    @include mq_sp {
                        font-size: 1.6rem;
                    }
                }

                &__td {
                    display: block;
                    padding-top: 6px;

                    .is-confirm & {
                        @include mq_sp {
                            font-size: 1.4rem;
                        }
                    }

                    &__input {
                        width: 100%;
                        font-size: 16px;
                        padding: 12px;
                        border: 1px solid #000;
                        font-family: inherit;

                        @include mq_sp {
                            font-size: 1.4rem;
                            padding: 1rem;
                        }

                        &::placeholder {
                            font-size: 16px;

                            @include mq_sp {
                                font-size: 1.6rem;
                            }
                        }

                        &.is-textarea {
                            width: 100%;
                            padding: 12px;
                            min-height: 150px;
                            font-size: 16px;
                            font-family: inherit;
                            border: 1px solid #000;

                            @include mq_sp {
                                font-size: 1.6rem;
                                padding: 1rem;
                            }

                            &::placeholder {
                                font-size: 16px;

                                @include mq_sp {
                                    font-size: 1.6rem;
                                }
                            }

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    &.privacy {
                        height: 250px;
                        overflow-y: scroll;
                        border: 1px solid #000;
                        padding: 30px 25px;
                        scrollbar-color: black white;
                        font-size: clamp(1.4rem, 3vw, 18px);
                    }
                }

                &.is-privacy {
                    .is-confirm & {
                        display: none;
                    }
                }
            }
        }
    }

    &__privacy {
        position: relative;

        @include mq_sp {
            font-size: 1.2rem;
        }

        .is-confirm & {
            display: none;
        }

        .error {
            position: absolute;
            top: 55px;

            @include mq_sp {
                top: 4.5rem;
            }
        }
    }

    &__privacy-check {
        text-align: center;
        font-size: 20px;
        position: relative;
        width: 370px;
        margin: 0 auto 4rem;

        @include mq_sp {
            width: 100%;
            padding-left: 3rem;
            font-size: 1.6rem;
        }
    }

    &__send {
        text-align: center;
        margin-top: 60px;

        @include mq_sp {
            margin-top: 4rem;
        }

        .is-confirm & {
            display: flex;
            justify-content: center;
            gap: 10px;

            @include mq_sp {
                flex-direction: column;
                gap: 0;
                margin-top: 0;
            }
        }
    }

    &__result {
        &__heading {
            font-size: 26px;
            text-align: center;
            font-weight: 600;

            @include mq_sp {
                font-size: 2rem;
            }
        }

        &__message {
            font-size: 16px;
            margin: 15px 0;
            text-align: center;

            @include mq_sp {
                font-size: 1.3rem;
            }
        }

        &__button {
            text-align: center;
            margin-top: 60px;

            @include mq_sp {
                margin-top: 4rem;
            }
        }
    }
}
