.p-contact {

    @include mq_sp {
        margin-top: 3rem;
    }

    &__inner {
        padding: 0 7rem;
        border-radius: 5rem;
        margin-bottom: 10rem;

        @include mq_sp {
            padding: 0;
        }
    }

    &__table {
        width: 100%;

        &__tbody {
            &__tr {
                display: block;
                margin-bottom: 3.5rem;
                font-family: $font-poppins;

                &__th {
                    font-size: 2.4rem;
                    font-weight: 500;
                    
                    @include mq_sp {
                        font-size: 2rem;
                    }
                }

                &__td {
                    display: block;

                    &__input {
                        width: 100%;
                        font-size: 2rem;
                        padding: 1.5rem 1rem;
                        border: none;
                        background: #D8D6D2;
                        font-family: inherit;

                        &:focus {
                            outline: none;
                        }
                    }

                    &__textarea {
                        width: 100%;
                        padding: 1rem;
                        background: #D8D6D2;
                        border: none;
                        font-size: 2rem;
                        font-family: inherit;
                        
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    &__privacy {
        text-align: center;
        font-size: 2rem;
        position: relative;
        width: 30rem;
        margin: 3rem auto 4rem;

        &__checkbox {
            position: absolute;
            opacity: 0;
        }

        &__checkmark {
            position: absolute;
            width: 3rem;
            height: 3rem;
            border: 2px solid #d8d6d2;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
    
            &::before {
                content: "";
                position: absolute;
                width: 1.6rem;
                height: 1.6rem;
                background: #d8d6d2;
                inset: 0;
                margin: auto;
                display: none;
            }
        }

        &__checkbox:checked ~ &__checkmark::before {
            display: block;
        }

    }

    &__send {
        text-align: center;
    }
}