.p-blog-detail {
    &__title {
        font-size: clamp(2rem, 5vw, 40px);
    }

    &__thumb {
        &__image {
            width: 100%;
            height: 600px;
            object-fit: cover;

            @include mq_sp {
                height: 30rem;
            }
        }
    }

    &__back {
        text-align: center;
        margin-top: 50px;
    }
}