.p-blog-detail {
    padding: 1rem 0 5rem;

    &__title {
        font-size: 40px;

        @include mq_sp {
            font-size: 2rem;
        }
    }

    &__thumb {
        &__image {
            width: 100%;
            height: 30rem;
            object-fit: contain;

            @include mq_sp {
                height: 10rem;
            }
        }
    }
}