.p-blog-detail {
    padding: 1rem 0 5rem;
    margin-top: 10rem;

    @include mq_sp {
        margin-top: 5rem;
    }
    
    &__title {
        font-size: 40px;

        @include mq_sp {
            font-size: 2rem;
        }
    }

    &__thumb {
        &__image {
            width: 100%;
            height: 60rem;
            object-fit: cover;
            
            @include mq_sp {
                height: 30rem;
            }
        }
    }
}