.p-blog-detail {    
    &__title {
        font-size: 40px;

        @include mq_sp {
            font-size: 2rem;
        }
    }

    &__thumb {
        &__image {
            width: 100%;
            height: 600px;
            object-fit: cover;
            
            @include mq_sp {
                height: 30rem;
            }
        }
    }

    &__author {
        &__inner {
            display: flex;
            gap: 50px;
            align-items: center;

            &__figure {
                height: 250px;
                width: 250px;
            
                &__img {
                    width: 100%;
                    border-radius: 50%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__details {
                &__name {
                    font-size: 22px;
                }

                &__description {
                    margin-top: 10px;
                    font-size: 16px;
                    display: block
                }
            }
        }
    }
}