.p-blog-detail {
    padding: 1rem 0 5rem;
    margin-top: 10rem;
    
    &__title {
        font-size: 40px;

        @include mq_sp {
            font-size: 2rem;
        }
    }

    &__thumb {
        &__image {
            width: 100%;
            object-fit: cover;
        }
    }
}