.p-index {
    &__mv {
        position: relative;

        &__slide {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, .1));
                inset: 0;
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__info {
            position: absolute;
            top: 50%;
            left: 100px;
            transform: translateY(-50%);
            color: $background-color1;

            @include mq_sp {
                position: absolute;
                top: 50%;
                left: 3rem;
            }

            &__h2 {
                font-size: 85px;
                line-height: 1.2;
                text-transform: capitalize;

                @include mq_sp {
                    font-size: 4rem;
                }
            }

            &__p {
                max-width: 1000px;
                font-size: 30px;
                margin-top: 30px;

                @include mq_sp {
                    font-size: 1.6rem;
                }
            }
        }
    }
}