.p-index {
    &__mv {
        &__slide {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                background: linear-gradient(rgb(66 66 66 / 60%), rgb(255 255 255 / 50%));
                inset: 0;
            }

        }
    }
}