.p-index {
    &__mv {
        position: relative;

        &__slide {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, .1));
                inset: 0;
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__info {
            position: absolute;
            top: 50%;
            left: 100px;
            transform: translateY(-50%);
            color: $background-color1;

            @include mq_sp {
                position: absolute;
                top: 50%;
                left: 3rem;
            }

            &__h2 {
                font-size: 85px;
                line-height: 1.2;
                text-transform: capitalize;

                @include mq_sp {
                    font-size: 4rem;
                }
            }

            &__p {
                max-width: 1000px;
                font-size: 30px;
                margin-top: 30px;

                @include mq_sp {
                    font-size: 1.6rem;
                }
            }
        }
    }

    &__about {
        margin-top: 120px;

        &__inner {
            display: flex;
            justify-content: space-between;
            gap: 55px;
            padding-top: 100px;

            @include mq_sp {
                display: block;
                padding-top: 0;
            }

            &__photos {
                width: 45%;
                position: sticky;
                top: 20px;
                left: 0;
                height: 100vh;
                flex-shrink: 0;

                &__figure {
                    position: absolute;
                    height: 100%;
                    width: 100%;

                    &__target {
                        opacity: 0;
                        transform: translateY(50px);
                        transition: opacity 1s, transform 1s;
                        will-change: opacity, transform;

                        &.visible-item {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }

                    &__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &__details {
                &__item {
                    padding: 18rem 8rem 35rem 0;
                    margin-top: 25rem;

                    @include mq_sp {
                        padding: 0 0 15rem;
                        margin-top: 6rem;
                        text-align: center;
                    }

                    &__title {
                        font-size: 40px;

                        @include mq_sp {
                            font-size: 2.5rem;
                            text-align: left;
                        }
                    }

                    &__p {
                        font-size: 20px;
                        padding: 20px 0 40px;
                        text-align: justify;
                        
                        @include mq_sp {
                            text-align: left;
                            padding: 2rem 0 5rem;
                        }
                    }
                }
            }
        }
    }

    &__news {
        height: 150vh;
    }
}