.p-index {
    &__hero {
        &__img {
            width: 100%;
        }
    }

    &__content {
        padding: 10rem 0;

        @include mq_sp {
            padding: 2rem 0;
        }

        &__inner {
            display: grid;
            grid-template-columns: 2fr 1fr;
            justify-items: center;

            @include mq_sp {
                grid-template-columns: 1fr;
                justify-items: baseline;
                gap: 5rem;
            }
        }

        &__box1 {
            &__title {
                font-size: 50px;
                font-weight: 400;
                line-height: 5rem;

                @include mq_sp {
                    font-size: 2rem;
                    line-height: normal;
                }
            }

            &__content {
                font-size: 16px;
                padding-top: 3rem;

                @include mq_sp {
                    padding-top: 1rem;
                }
            }
        }

        &__box2 {
            &__title {
                font-size: 2.5rem;
                border-left: 3px solid #333;
                padding-left: 1rem;
                line-height: 3rem;
                font-weight: 400;
            }

            &__ul {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;
                padding-top: 3rem;
            }

            &__list {
                font-size: 1.8rem;
                display: flex;
                gap: 4rem;
            }

            &__btn {
                padding-top: 2rem;
            }
        }
    }
}