.p-index {
    &__mv {
        position: relative;

        &__slide {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, .1));
                inset: 0;
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__info {
            position: absolute;
            top: 50%;
            left: 100px;
            transform: translateY(-50%);
            color: $background-color1;

            @include mq_sp {
                position: absolute;
                top: 50%;
                left: 3rem;
            }

            &__h2 {
                font-size: 85px;
                line-height: 1.2;
                text-transform: capitalize;

                @include mq_sp {
                    font-size: 4rem;
                }
            }

            &__p {
                max-width: 1000px;
                font-size: 30px;
                margin-top: 30px;

                @include mq_sp {
                    font-size: 1.6rem;
                }
            }
        }
    }

    &__about {
        margin-top: 150px;

        @include mq_sp {
            margin-top: 12rem;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            gap: 55px;
            padding-top: 100px;

            @include mq_sp {
                display: block;
                padding-top: 0;
            }

            &__photos {
                width: 45%;
                position: sticky;
                top: 20px;
                left: 0;
                height: 100vh;
                flex-shrink: 0;

                &__figure {
                    position: absolute;
                    height: 100%;
                    width: 100%;

                    &__target {
                        opacity: 0;
                        transform: translateY(50px);
                        transition: opacity 1s, transform 1s;
                        will-change: opacity, transform;

                        &.visible-item {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }

                    &__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &__details {
                &__item {
                    padding: 18rem 8rem 35rem 0;
                    margin-top: 25rem;

                    @include mq_sp {
                        padding: 0 0 15rem;
                        margin-top: 6rem;
                        text-align: center;
                    }

                    &__title {
                        font-size: 4rem;

                        @include mq_sp {
                            font-size: 2.5rem;
                            text-align: left;
                        }
                    }

                    &__p {
                        font-size: 2rem;
                        padding: 2rem 0 4rem;
                        text-align: justify;

                        @include mq_sp {
                            text-align: left;
                            padding: 2rem 0 5rem;
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }

    &__gallery {
        margin-top: 200px;

        @include mq_sp {
            margin-top: 0;
        }

        &__slider {
            margin-top: 80px;

            &--right {
                margin-top: 6rem;
            }

            &__li {
                width: 500px !important;
                height: 250px !important;

                @include mq_sp {
                    width: 30rem !important;
                    height: 21rem !important;
                }

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        @keyframes slideX {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }

    &__blog {
        margin: 200px 0;

        &__post {
            &__anchor {
                text-decoration: none;

                &__image {
                    width: 100%;
                }

                &__title {
                    font-size: 3rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                &__category {
                    display: inline-flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    margin: 2rem 0;

                    &__list {
                        font-size: 1.8rem;
                        background: $background-color2;
                        padding: 0.5rem 2rem;
                    }
                }
            }

            &__arrows {
                display: flex;
                justify-content: space-between;
                width: 25rem;

                @include mq_sp {
                    display: flex;
                    justify-content: space-between;
                    width: 15rem;
                    margin-left: auto;
                }

                &__btn {
                    background-color: $text-color1 !important;
                    width: 10rem !important;
                    height: 10rem !important;
                    border-radius: 50%;
                    appearance: none;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    @include mq_sp {
                        width: 5rem !important;
                        height: 5rem !important;
                    }

                    &:disabled {
                        opacity: 0.8;
                        cursor: not-allowed;
                    }

                    svg {
                        fill: #fff;
                        width: 5rem;
                        height: 3rem;

                        @include mq_sp {
                            width: 3rem;
                            height: 1.5rem;
                        }
                    }
                }
            }

            &__progress {
                margin: 5rem 5rem 0 15rem;
                position: relative;
                display: flex;
                gap: 8rem;
                align-items: center;

                @include mq_sp {
                    margin: 5rem 2rem 0 0;
                }


                &__wrapper {
                    background-color: $background-color2;
                    height: 1rem;
                    width: 70%;

                    &__bar {
                        background: rgb(242, 241, 239);
                        background: linear-gradient(90deg, rgba(242, 241, 239, 1) 0%, rgba(34, 34, 34, 0.9501050420168067) 80%);
                        height: 100%;
                        transition: width 400ms ease;
                        width: 0;
                    }
                }

            }
        }
    }
}